@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



/* Header */
.header {
  background-color: #CFFCF9;
  font-size: 40px;
  font-weight: bold;
  color: black;
  padding: 10px;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', sans-serif;
}

/* End Header */

/* Navigation */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CFFCF9;
  color: black;
  width: 100%;
  padding: 0 10px;
}

.welcome-message {
  text-align: left;
  
}

.welcome-message span{
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 100px;
  padding: 0;
}

.menu li {
  margin: 0 30px;
  display: inline-block;
}

.menu li a {
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding: 5px 15px;
}
.menu li a:hover{
  background-color: #028CB3;
  color: #fff;
}
.menu li a.active {
  font-weight: bold;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* add a semi-transparent background */
  position: fixed; /* position the element relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-dialog {
  text-align:  center;
  margin: auto; /* center the modal within the parent container */
  font-size: 16px;
}


.modal-title {
  padding-left: 100px;
  text-align: center;
  margin: auto; /* center the modal within the parent container */
  font-size: 18px;
}
/* End Navigation */
/* Home page */


#catalog-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.item {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.img-container img {
  width: 100%;
  height: 500px;
}

.content {
  flex: 1;
  padding: 0 50px;
  text-align: center;

}

.content p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  background-color: #6AD9EC;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.action:hover {
  background-color: #028CB3;
  color: #fff;
}


/* End home page */


/* Login */

.bg-image {
  background-image: url('/images/firstImg.jpg'), url('/images/fourthImg.jpg');
  background-position: left bottom 150px, right top 150px;
  background-repeat: no-repeat, no-repeat;
  background-size: 600px 400px, 600px 400px;
}


.button_form-container button{
  margin-left: 227px;
  background-color: #6AD9EC;
  border-color: #028CB3;
  color: black;
  font-weight: bold;
}
.button_form-container button:hover{
  background-color: #028CB3;
  border-color: #6AD9EC;
  color: #fff;
}

.text-uppercase {
  font-family: Arial, sans-serif;
}
/* End Login */


/* Register */

.bg-image_register {
  background-image: url('/images/firstImg.jpg'), url('/images/fourthImg.jpg');
  background-position: right bottom 150px, left top 150px;
  background-repeat: no-repeat, no-repeat;
  background-size: 600px 400px, 600px 400px;
 
}
/* End Register */

/* Logout */
.modal {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: #f2f2f2;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 100px;
}

.modal-body {
  padding: 10px;
}

.modal-footer {
  background-color: #f2f2f2;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  text-align: right;
}

.button {
  margin-left: 10px;
}

/* End logout */

/* Catalog Auctions */
.auction_section .heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 35px;
}


.auction_section .heading_container h2 {
  text-align: center;
  margin: 0 auto;
  
}

.auction_section .auction_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auction_section .auction_container .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.33%;
          flex: 0 0 31.33%;
  margin: 1%;
  position: relative;
  overflow: hidden;
  max-width: 500px;
}

.auction_section .auction_container .box img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
}

.auction_section .auction_container .box .link_box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #252525;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.auction_section .auction_container .box .link_box h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.auction_section .auction_container .box .link_box a {
  display: inline-block;
  padding: 7px 35px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 15px;
}

.auction_section .auction_container .box .link_box a:hover {
  background-color: #ffffff;
  color: #000000;
}

.auction_section .auction_container .box:hover .link_box {
  top: 0;
  opacity: 0.9;
}
/* End catalog Auctions */

/* Details */
.details-section {
  margin-top: 20px;
  padding: 50px 0;
}

.image-container {
  position: relative;
  height: 500px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.details-container {
  padding: 0 50px;
}

.details-header {
  margin-bottom: 30px;
}

.details-header h2 {
  margin-bottom: 10px;
}

.details-header h4 {
  margin-bottom: 5px;
}

.details-content {
  line-height: 1.5;
  font-size: 16px;
}

.edit-link,
.close-link,
.bid-link,
.back-link {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6AD9EC;
  border-color: #028CB3;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.edit-link:hover,
.close-link:hover,
.bid-link:hover,
.back-link:hover {
  background-color: #028CB3;
  border-color: #6AD9EC;
  color: #fff;
}

.edit-link:focus,
.close-link:focus,
.bid-link:focus,
.back-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #007bff;
}

.current_bidders {
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
/* End details */

/* Create and edit  */
.bg-image_editCreate{
  background-image: url('/images/fifthImg.jpg'), url('/images/sixthImg.jpg');
  background-position: left bottom 150px, right top 150px;
  background-repeat: no-repeat, no-repeat;
  background-size: 600px 400px, 600px 400px;
}
/* End Create and edit */

/* About page */
.about_section {
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.img-box {
  position: relative;
}

.img-box img {
  width: 80%;
  padding-left: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.img-box img.active {
  opacity: 1;
}

.detail-box {
  padding-top: 50px;
  margin-left: 150px;
  max-width: 400px;
}
.heading_container h2{
  font-family: 'Pacifico', sans-serif;
  font-size: 26px;
  text-align: center;
}

.read_more{
text-decoration: none;
background-color: #6AD9EC;
margin-left: 150px;
padding: 15px;
font-size: 20px;
color: black;
border-radius: 2px solid;
}
.read_more:hover{
  background-color: #028CB3;
  color: #fff;
}

/* end About page */

/* Error */
.error_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.error_overlay_content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.error_message {
  margin-top: 20px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: red;
}

/* End Error */
/* Bid overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px solid;
}

.overlay-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.error-bidding {
    margin-top: 20px;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.error-bidding-button{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.bid_heading{
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/*End  Bid overlay */

/* Footer */
.footer {
  background-color: #CFFCF9;
  color: black;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Pacifico', sans-serif;
  font-size: 20px;
}
/* End Footer */

/* Contacts */
.contact_section {
  background-color: #f9f9f9;
  margin-top: 50px;
}

.contact_section h2 {
  font-size: 36px;
  text-align: center;
  color: black;
  margin-bottom: 50px;
  padding-right: 360px;
}

.contact_form-container {
  margin-left: 0px;
  margin-right: 100px;
  padding: 40px;
  background-color: #CFFCF9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact_form-container input[type="text"],
.contact_form-container input[type="email"],
.contact_form-container input[type="tel"],
.contact_form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
}

.contact_form-container button[type="submit"] {
  background-color: #028CB3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.contact_form-container button[type="submit"]:hover {
  background-color: #028CB3;
  color: black;
}

.message_input {
  height: 100px;
}

.map_container {
  height: 300px;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 56.25%;
}

.map_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End contacs */